<h1>Recipe Info</h1>
<h3>Title:</h3> <%= @recipe.title %>
<h3>Chef:</h3> <%= @recipe.chef%>
<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<h3>Directions:</h3>
<ol>
  <% @recipe.directions_list.each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>
<h5><b>Updated at:</b></h5>
  <%= @recipe.friendly_updated_at %>
<br /><br />
<%= link_to "Update Recipe", "/recipes/#{ @recipe.id }/edit", class: "btn btn-primary" %>
<%= link_to "Delete Recipe", "/recipes/#{ @recipe.id }", method: :delete, class: "btn btn-danger" %>
